.body {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  border: 1px solid #ccc;
  border-radius: 5%;
  padding: 2%;
}
div.row + div.row {
  margin-top: 20px;
}
.column {
  float: left;
  width: 50%;
}
select.text-field.column {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    white no-repeat calc(100% - 10px) !important;
}
.incolumn {
  width: 95%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.have3 {
  float: inline-start;
  margin-right: 3.25%;
  width: 30%;
}
#columnRange {
  width: 45%;
}
#columnRange + #columnRange {
  margin-left: 10%;
}
span,
h1,
b,
table {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}
form {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
}
input {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
}
label {
  font-weight: bold;
}
.text-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  float: right;
  width: 30%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover:enabled {
  background-color: #45a049;
}
:disabled {
  background-color: #ccc;
}
table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #e7e7e7;
}
td + td,
th + th {
  padding: 8px;
  border-left: 1px solid #ccc;
}
p {
  text-align: left;
  font-size: 16px;
  border: none;
  padding: 0;
}
.center {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
